@using SignalR.Models
@using Microsoft.AspNet.Identity;
@model List<UserModel>
@{
    ViewBag.Title = "Home Page";
    var userName = User.Identity.Name;
    var userId = User.Identity.GetUserId();
}
@section Stylesheet{
    <style>
        .wraper {
            background-color: antiquewhite;
            width: 100%;
            height: 100%;
            margin-top: 10px;
        }

        .users {
            height: 100%;
            padding: 0;
        }

        .header {
            height: 50px;
            background-color: #dec6c6;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .list-user {
            height: calc(100% - 100px);
            padding: 10px;
        }

        .user {
            cursor: pointer;
        }

        .status {
            height: 10px;
            width: 10px;
            background-color: #757b75;
            display: inline-block;
        }

        .title {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 16px;
        }

        .conversation {
            height: 100%;
            background-color: #d6efeb;
            padding: 0;
        }

        .nav-tabs {
            height: 50px;
            background-color: #e8b2b2;
            display: flex;
            align-items: center;
            padding-left: 5px;
        }

        .tab-content {
            margin: 10px;
            height: calc(100% - 70px);
        }

        .group-name {
        }

        .participants {
            height: 30px;
        }

        .conversation-body {
            height: calc(100% - 30px);
        }
        .chat-area {
             height: 60px;
        }
        .messages-area {
            height: calc(100% - 60px);
            overflow: auto;
        }
        .delete-tab {
            position: absolute;
            top: -2px;
            right: 7px;
            padding: 2px;
            color: #b54242;
            cursor: pointer;
        }
        .liTab {
            position: relative;
        }
        textarea {
            width: 100%;
            height: 100%;
            resize: none;
            padding: 5px;
            max-width: 100% !important;
        }
    </style>
}
<div class="wraper">
    <div class="col-md-4 users">
        <div class="header">
            <span class="title">Thành viên</span>
            <button class="btn btn-success">Tạo nhóm chat</button>
        </div>
        <div class="list-user">
            <ul style="list-style-type:none;">
                @foreach (var item in Model)
                {
                    <li class="user" data-id="@item.UserId">
                        <span class="status"></span>
                        <span class="user-name">@item.UserName</span>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-8 conversation">
        <ul class="nav nav-tabs">
            @*<li class="active"><a data-toggle="tab" href="#home">Home</a></li>*@
        </ul>
        <div class="tab-content">

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var userName =@Html.Raw(Json.Encode(userName));
            var userId=@Html.Raw(Json.Encode(userId));
            var groupChatHub = $.connection.groupChatHub;
            groupChatHub.client.getOnlineUsers = function (userIds) {
                debugger;
                $('li.user .status').css("background-color", "#757b75");
                userIds.forEach((item, index) => {
                    $(`li.user[data-id=${item}] .status`).css("background-color", "green");
                });
            };
            groupChatHub.client.getMessage = function (model) {
                var isHaveTab = $(`.divContent[data-con=${model.ConversationId}]`).length > 0;
                if (isHaveTab) {
                    var html = `<p><b>${model.SentUserName}: </b><span>${model.Content}</span></p>`;
                    $(`.divContent[data-con=${model.ConversationId}] .messages-area`).append(html);                    
                    //$(`.liTab[data-con=${model.ConversationId}]`)
                }
                else {
                    if ($(`.divContent[data-id=${model.SentUserId}]`).length > 0) {
                        $(`.divContent[data-id=${model.SentUserId}]`).attr("data-con", `${model.ConversationId}`);
                        $(`.divContent[data-id=${model.SentUserId}]`).attr("id", `${model.ConversationId}`);
                        $(`.liTab[data-id=${model.SentUserId}] a`).attr("href", `#${model.ConversationId}`);
                        $(`.liTab[data-id=${model.SentUserId}]`).attr("data-con", model.ConversationId);
                    }
                    else {
                        var userNamePar = model.SentUserName;
                        var liTab = `<li class="liTab" data-con=${model.ConversationId} data-id=${model.SentUserId}><a data-toggle="tab" href="#${model.ConversationId}">${userNamePar}</a><span class="delete-tab">x</span></li>`;
                        var divContent = `<div id="${model.ConversationId}" data-con=${model.ConversationId} data-id=${model.SentUserId} class="tab-pane fade divContent" style="height: 100%;">
                        <div class="participants">
                            <b>Thành viên:</b> ${userName}, ${userNamePar}
                        </div>
                        <div class="conversation-body">
                            <div class="messages-area"></div>
                            <div class="chat-area">
                                <textarea>
                                </textarea>
                            </div>
                        </div>
                    </div>`;
                        $(".nav-tabs").append(liTab);
                        $(".tab-content").append(divContent);
                        $(`.liTab[data-id=${model.SentUserId}] a`).tab('show');
                    }
                    
                    var html = `<p><b>${model.SentUserName}: </b><span>${model.Content}</span></p>`;
                    $(`.divContent[data-con=${model.ConversationId}] .messages-area`).append(html);
                    $(`#${model.SentUserId} textarea`).focus();
                }
            };

            var startHub = $.connection.hub.start()
                .done(function () {
                    $("li.user").on("dblclick", (e) => {
                        var userIdPar = $(e.currentTarget).data("id");
                        if (userId == userIdPar) {
                            return;
                        } 
                        if ($(`.liTab[data-id=${userIdPar}]`).length == 0) {
                            var conName = `${userId}_${userIdPar}`;
                            $.ajax({
                                type: "Get",
                                url: '@Url.Action("CheckExistConversation", "api/GroupChat")' + `?conName=${conName}`,          
                                success: function (result) {
                                    debugger;
                                    if (result == "error") {
                                        return;
                                    }
                                    else {
                                        var conversationId = "";
                                        if (result == false) {
                                            conversationId = createGuid();
                                        }
                                        else {
                                            conversationId = result
                                        }
                                        var userNamePar = $(e.currentTarget).children(".user-name").text();
                                        var liTab = `<li class="liTab" data-con=${conversationId} data-id=${userIdPar}><a data-toggle="tab" href="#${conversationId}">${userNamePar}</a><span class="delete-tab">x</span></li>`;
                                        var divContent = `<div id="${conversationId}" data-con=${conversationId} data-id=${userIdPar} class="tab-pane fade divContent" style="height: 100%;">
                                                        <div class="participants">
                                                            <b>Thành viên:</b> ${userName}, ${userNamePar}
                                                        </div>
                                                        <div class="conversation-body">
                                                            <div class="messages-area"></div>
                                                            <div class="chat-area">
                                                                <textarea>
                                                                </textarea>
                                                            </div>
                                                        </div>
                                                    </div>`;
                                        $(".nav-tabs").append(liTab);
                                        $(".tab-content").append(divContent);
                                        $(`.liTab[data-con=${conversationId}] a`).tab('show');
                                        $(`.divContent#${conversationId} textarea`).focus();                                        
                                    }
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    debugger;
                                    return;
                                }
                            });
                    }
                    else {
                            $(`.liTab[data-id=${userIdPar}] a`).tab('show');
                    }
                    });

                    

                    $(document).on("click", ".delete-tab", (e) => {
                        var target = $(e.currentTarget);
                        var id = target.closest("li").data("con");
                        target.closest("li").remove();
                        $(`div#${id}`).remove();
                    });

                    $(document).on("keyup", "textarea", (e) => {
                        if (e.keyCode === 13) {
                            e.preventDefault;
                            var message = $(e.currentTarget).val();
                            var userIdPar = $(e.currentTarget).closest(".divContent").data("id");
                            var conId = $(e.currentTarget).closest(".divContent").data("con");
                            var html = `<p><b style="color: #433bb9;">${userName}: </b><span>${message}</span></p>`;
                            $(e.currentTarget).closest(".conversation-body").children(".messages-area").append(html);
                            $(e.currentTarget).val("");
                            groupChatHub.server.sendMessage(userIdPar, message, conId);
                        }
                    });
                })
                .fail(() => {
                    console.log('Could not connect');
                    setTimeout(startHub, 5000);
                });

            var createGuid = function uuidv4() {
                return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
            }
        });
    </script>

}